<div class="container-fluid">
    <div class="my-3 rounded-3 ">
        <form (ngSubmit)="onSubmit()" >
            <div (dblclick)="decreaseAddNote()" tabindex="-1">
            <div [class.hiddenColapsed-state]="isHidden" [class.visibleUncolapsed-state]="!isHidden">
                <label for="noteTitle" class="form-label fw-bold">Title</label>
                <input [(ngModel)]="inputNoteTitle" type="text" class="form-control" name="title" placeholder="{{inputPlaceHolder}}" >
            </div>
            <div class="mb-3" >
                <label for="noteBody" class="form-label fw-bold">Note Body</label>
                <textarea 
                    [(ngModel)]="inputNoteBody" 
                    class="form-control"
                    [class.expanding-textarea]="isExpand"
                    [class.colapsing-textarea]="!isExpand"
                    name="body" 
                    (click)="increaseAddNote()"
                    placeholder="{{textareaPlaceHolder}}" 
                    [ngStyle]="{ 'box-shadow': warningColor ? '0px 0px 10px ' + warningColor : '', 'border-color': warningColor }">
                </textarea>
            </div>
            <button type="submit" class="btn btn-outline-warning">Add note</button>
            </div>
        </form>
    </div>
</div>

