<div class="container-fluid">
    <div class="my-3 rounded-3 border border-secondary">
        <form (ngSubmit)="onSubmit()" >
            <div (blur)="decreaseAddNote()" tabindex="-1">
            <div 
             class="border border-warning"
             [class.hiddenColapsed-state]="isHidden"
             [class.visibleUncolapsed-state]="!isHidden"
             >
                <label for="noteTitle" class="form-label fw-bold">Title</label>
                <input [(ngModel)]="inputNoteTitle" type="text" class="form-control" name="title" placeholder="title..." >
            </div>
            <div class="mb-3 note-div border border-success">
                <label for="noteBody" class="form-label fw-bold">Note Body</label>
                <textarea 
                    [(ngModel)]="inputNoteBody" 
                    class="form-control"
                    [class.expanding-textarea]="isExpand"
                    [class.colapsing-textarea]="!isExpand"
                    name="body" 
                    (focus)="increaseAddNote()"
                    placeholder="Write your note here..." >
                </textarea>
            </div>
            <button type="submit" class="btn btn-outline-primary">Add note</button>
            </div>
        </form>
    </div>
</div>

