<div class="container-fluid">
    <div class="container my-3">
        <form (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="noteTitle" class="form-label">Title</label>
                <input type="text" class="form-control" placeholder="title...">
            </div>
            <div class="mb-3">
                <label for="noteBody" class="form-label">Note Body</label>
                <textarea class="form-control vh-100" placeholder="Write your note here..."></textarea>
            </div>
        </form>
    </div>
</div>
