<div *ngIf="notesList.length === 0; else elseBlock">
    <div class="container-fluid">
        <h1 class="fs-1 text-black-50 position-absolute top-50 start-44">No Notes</h1>
    </div>
</div>
<ng-template #elseBlock>
<div class="container-fluid mt-4">
    <div class="container">
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4">
        <div routerLink="note-id" class="col" *ngFor="let note of notesList; index as i;">
            <div class="card shadow rounded-3 border-6 card-hover pointer"  [style.border-color]="getRandomColor(i)">
                <div class="card-body">
                    <h5 class="card-title">{{note.title}}</h5>
                    <p class="card-text">{{note.body}}</p>
                </div>
                <div>
                    <button class="btn btn-link text-danger text-decoration-none fw-bold" >Delete</button>
                    <button class="btn btn-link text-warning text-decoration-none fw-bold">Edit</button>
                    <p class="badge fw-bold"></p>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
</ng-template>
<div class="position-relative">
<button type="button" class="btn btn-outline-dark border-3 p-3 rounded-circle shadow position-fixed bottom-right">
    <svg xmlns="http://www.w3.org/2000/svg" height="40" width="40">
        <path d="M8.083 32.292h1.459L26.25 15.5 24.792 14 8.083 30.792ZM33 13.542l-6.25-6.209 1.792-1.791q.958-.959 2.312-.979 1.354-.021 2.438.979l1.541 1.541q1.084 1.042.979 2.396-.104 1.354-1.062 2.271ZM6.917 35.625q-1 0-1.625-.625t-.625-1.542v-3.125q0-.416.187-.854.188-.437.479-.687l19.5-19.5 6.209 6.166-19.417 19.5q-.333.334-.792.5-.458.167-.833.167Zm18.666-20.833L24.792 14l1.458 1.5Z" class="svg-path"></path>
      </svg>      
</button>
</div>




