<div class="container my-1">
    <app-add-note (noteEmitter)="addNote($event)"></app-add-note>
</div>
<div *ngIf="notesList.length === 0; else elseBlock">
    <div class="container-fluid d-flex justify-content-center align-content-start" (click)="addNoteFucntion()">
        <h1 class="fs-1 text-black-50 ">No Notes</h1>
    </div>
</div>
<ng-template #elseBlock>
<div class="container-fluid mb-5" (click)="addNoteFucntion()">
    <div class="container">
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4">
        <div class="col" *ngFor="let note of notesList; index as i;">
            <div routerLink="note-id"  class="card shadow rounded-3 border-6 card-hover pointer"  [style.border-color]="note.color">
                <div class="card-body">
                    <h5 class="card-title">{{note.title | slice:0:15}}..</h5>
                    <p class="card-text">{{note.body | slice:0:30}}..</p>
                </div>
                <div class="d-flex justify-content-between">
                    <button (click)="deleteNote(note)" class="btn btn-link text-danger text-decoration-none fw-bold" >Delete</button>
                    <div><span class="badge rounded-pill m-2 text-light" [style.background-color]="note.color" [style.opacity]="1">{{note.date | date:'shortDate'}}</span></div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
</ng-template>




