.card-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Adjust the transition duration and timing function */
  }
.card-hover:hover {
    z-index: +2;
    transform: scale(1.1); /* Increase the size of the card on hover */
    box-shadow: 5 2 10px rgb(4, 4, 4); /* Add a stronger shadow on hover */
  }
  
.border-6{
    border-left: 8px solid;
    border-bottom: 0;
    border-top: 0 ;
    border-right: 0;
    border-radius: 10px;
}
.pointer{
    cursor: pointer;
}

.svg-path {
    fill: #ffb300;
}
  
.bottom-right {
bottom: 5%;
right: 10%;
}
